<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SailpointIIQTestSuite">
	
  <test name="SailpointIIQAutomationTestcases">
    <classes>
      <class name="Sailpoint_IIQ_Automation.LogInTest"/>
      <class name="Sailpoint_IIQ_Automation.AggregationTest"/>
    </classes>
  </test> <!-- SailpointIIQAutomationTestcases -->
</suite> <!-- SailpointIIQTestSuite -->
